.App {
  font-family: Arial, sans-serif;
  text-align: center;
}


table {
  width: 100%;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  margin-right: 10px;
}
